* {
  font-family: "Roboto", sans-serif;
  margin: 0%;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin: 1rem;
  padding: 0%;
}
.iconeTwiplon {
  width: 1.5rem;
  padding: 1rem;
}
.iconeProfil {
  width: 2.5rem;
}
h2 {
  font-weight: bold;
}

.unliked {
  display: flex;
  width: 1.2rem;
}
.liked {
  display: none;
  padding: 0%;
  margin: 0%;
  width: 1rem;
  height: 1.1rem;
}

.postHead {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(187, 203, 220);
}

.postMain {
  text-align: justify;
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgb(187, 203, 220);
}
.postFooter {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.UserPost {
  display: grid;
  width: 45%;
  margin: 1rem 3rem;
  padding: 1rem;
  background-color: rgb(241, 247, 254);
  border: 1px solid rgb(187, 203, 220);
}
main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.like {
  width: 100%;
}
.likeIcon {
  width: 2rem;
  padding: 0%;
  border: none;
  background-color: transparent;
}
main svg {
  width: 100%;
}
